# compiled output
/dist
/node_modules
/build

# OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing
/coverage

# NestJS
*.js.map

/generated/prisma
